td.editCell {
    font-size: 8pt;
    font-family: Arial, verdana, sans-serif;
    text-align: left;
    vertical-align: top;
    background-color: #ff8c00
}

td.errorCell {
    color: white;
    background-color: red
}
