!version: $Revision$
!date: $Date$
!GO_slim_name: generic go_slim

# only cellular_component

$Gene_Ontology ; GO:0003673
 <cellular_component ; GO:0005575
  %cell ; GO:0005623
   <intracellular ; GO:0005622 ; synonym:protoplasm
    <chromosome ; GO:0005694
    <cilium ; GO:0005929
    <cytoplasm ; GO:0005737
     <cytoplasmic chromosome ; GO:0000229
     <cytoplasmic vesicle ; GO:0016023
     <cytoskeleton ; GO:0005856
     <cytosol ; GO:0005829
     <endoplasmic reticulum ; GO:0005783 ; synonym:ER
     <endosome ; GO:0005768
     <Golgi apparatus ; GO:0005794 ; synonym:Golgi complex
     <lipid particle ; GO:0005811 ; synonym:lipid droplet
     <microtubule organizing center ; GO:0005815
     <mitochondrion ; GO:0005739
     <peroxisome ; GO:0005777
     <plastid ; GO:0009536
     <ribosome ; GO:0005840
     <vacuole ; GO:0005773
      <lysosome ; GO:0005764
    <nucleus ; GO:0005634
     <nuclear chromosome ; GO:0000228
     <nuclear membrane ; GO:0005635 ; synonym:nuclear envelope
     <nucleolus ; GO:0005730
     <nucleoplasm ; GO:0005654
    <plasma membrane ; GO:0005886 ; synonym:cell membrane; synonym:cytoplasmic membrane
    <thylakoid ; GO:0009579
  %cellular_component unknown ; GO:0008372
  %external encapsulating structure ; GO:0030312
   %cell envelope ; GO:0030313
   %cell wall ; GO:0005618
  %extracellular ; GO:0005576
  <extracellular matrix ; GO:0005578
  <extracellular space ; GO:0005615
  %unlocalized ; GO:0005941
