TD {
    COLOR: #000000; 
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-SIZE: 10pt; 
    FONT-WEIGHT: normal
}


BODY {
      BACKGROUND: #ffffff; 
      COLOR: #000000; 
      FONT-FAMILY: Arial, Helvetica, sans-serif; 
      FONT-SIZE: 10pt; 
      FONT-WEIGHT: normal; 
      MARGIN: 5px; 
      scrollbar-track-color : #ffffff;  
      scrollbar-arrow-color : #21496b;  
      scrollbar-darkshadow-color : #ffffff
}


P {
   COLOR: #000000; 
   FONT-FAMILY: Arial, Helvetica, sans-serif; 
   FONT-SIZE: 10pt; 
   FONT-WEIGHT: normal
}


LI {
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt; 
    FONT-WEIGHT: normal
}


.tableTitle {
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    COLOR: #000000; 
    FONT-SIZE: 10pt; 
    FONT-WEIGHT: bold
}


.normal {
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt; 
    FONT-WEIGHT: normal
}
