
	body {
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		}
	body, td, p {
		font-family: verdana, sans-serif;
		font-size: 12px;
		}

h1 {color: #000000; font-size: 18px; font-family: verdana,arial,lucida console,sans-serif,monospace; font-weight: bold; text-decoration: none; bottom-margin: 15px;}

h2 {color: #000000; font-size: 16px; font-family: verdana,arial,lucida console,sans-serif,monospace; font-weight: bold; text-decoration: none; bottom-margin: 12px;}

h3 {color: #000000; font-size: 14px; font-family: verdana,arial,lucida console,sans-serif,monospace; font-weight: bold; text-decoration: none; bottom-margin: 10px;}

.header {color: #000000; font-size: 24px; font-family: verdana,arial,lucida console,sans-serif,monospace; font-weight: bold; text-decoration: none; bottom-margin: 10px;}

.footer {
    color: #000000; font-size: 11px;
    font-family: verdana,arial,lucida
    console,sans-serif,monospace; text-decoration: none; font-weight: normal;
}

tr.tableRowHeader {
  font-family: verdana, tahoma, arial, helvetica;
  font-weight: bold;
  font-size: 12px;
  background-color: #ffcc00;
}
a.tableCellHeader {
  font-family: verdana, tahoma, arial, helvetica;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
a.tableCellHeader:hover {
  font-family: verdana, tahoma, arial, helvetica;
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
tr.tableRowOdd {
  font-family: verdana, tahoma, arial, helvetica;
  background-color: #ffffff
}
tr.tableRowEven {
  font-family: verdana, tahoma, arial, helvetica;
  background-color: #ffeeaa
}
td.tableCell {
  font-family: verdana, tahoma, arial, helvetica;
  text-align: left;
  vertical-align: top;
}
