<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">



<web-app>
  <context-param>
    <param-name>dbname</param-name>
    <param-value>intacttest</param-value>
  </context-param>

  <!--  NB XML config files for the DB MUST be referred to here relative
        to the WEB-INF/classes directory as that is where the class loader
        will start to look. The leading "/" MUST be present if the config
        files are in a sub-directory of WEB-INF/classes, otherwise
        the class loader will only check in the package in which the servlet
        instance resides (which may not be the same as the config file
        location....). The exception to this rule seems to be the struts-config.xml
        file....
  -->
  <context-param>
    <param-name>mappingfile</param-name>
    <param-value>/config/dbMapping.xml</param-value>
  </context-param>

  <context-param>
    <param-name>dbfile</param-name>
    <param-value>/config/dbDescription.xml</param-value>
  </context-param>

  <!--  location of the intact object type to classname properties file    -->
  <context-param>
    <param-name>intacttypesfile</param-name>
    <param-value>/config/IntactTypes</param-value>
  </context-param>

  <!--  Class name of the data source object to be used    -->
  <context-param>
    <param-name>datasource</param-name>
    <param-value>uk.ac.ebi.intact.test.persistence.CastorDAOSource</param-value>
  </context-param>

  <!--  location of the persistence layer log file (seperate from the web tier logs).
  NB the classLoader for the persistence layer is the Tomcat one, so the file locations
  are specified relative to the catalina/bin directory (standalone, not golgi-dev!!)..
  -->
  <context-param>
    <param-name>logfile</param-name>
    <param-value>intact_log.txt</param-value>
  </context-param>


  <!-- Action Servlet Configuration -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>/config/ApplicationResources</param-value>
    </init-param>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/config/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>


   <!-- Database Initialization Servlet (must load after ActionServlet) -->
  <servlet>
    <servlet-name>IntactDatabaseServlet</servlet-name>
    <servlet-class>uk.ac.ebi.intact.test.struts.IntactDatabaseServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>


  <!-- Declaration of the Image generator servlet -->
  <servlet>
    <servlet-name>GenerateImage</servlet-name>
    <servlet-class>uk.ac.ebi.intact.application.hierarchView.business.servlet.GenerateImage</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>GenerateImage</servlet-name>
    <url-pattern>/GenerateImage</url-pattern>
  </servlet-mapping>


  <!-- Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>


  <!-- The Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 
 
  <!-- Struts Tag Library Descriptors -->
  <taglib>
    <taglib-uri>/WEB-INF/tld/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
  </taglib>
 
  <taglib>
    <taglib-uri>/WEB-INF/tld/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
  </taglib>
 
  <taglib>
    <taglib-uri>/WEB-INF/tld/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
  </taglib>
 
  <taglib>
    <taglib-uri>/WEB-INF/tld/struts-template.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-template.tld</taglib-location>
  </taglib>
 
  <taglib>
    <taglib-uri>/WEB-INF/tld/struts.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts.tld</taglib-location>
  </taglib>
 
  <taglib>
    <taglib-uri>/WEB-INF/tld/struts-form.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-form.tld</taglib-location>
  </taglib>
 
  <!-- Intact Tag Library Descriptor  -->
  <taglib>
    <taglib-uri>/WEB-INF/tld/intact.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/intact.tld</taglib-location>
  </taglib>
 
 
</web-app>
